:root {
    --grey: #565C5E;
    --dark-green: #455954;
    --brown: #9D7463;
    --blue: #B5C2C7;
    --white: #DFDBD8;
}

* {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--dark-green);
}


ul li {
    display: inline-flex;
}

#question-box {
    background-color: var(--blue);
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 800px;
    height: 600px;
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
}

.start-button {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    color: var(--white);
    width: 150px;
    height: 50px;
    margin: 500px auto 50px auto;
    border-style: solid;
    border-radius: 8px;
}

.high-score {
    position: relative;
}

.timer {
    position: relative;
    float: right;
    padding-right: 50px;
}