:root {
    --grey: #565C5E;
    --dark-green: #455954;
    --brown: #9D7463;
    --blue: #B5C2C7;
    --white: #DFDBD8;
}

* {
    font-family: 'Montserrat', sans-serif;
}

#start {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    color: var(--white);
    width: 150px;
    height: 50px;
    margin: 400px auto 50px auto;
    border-style: solid;
    border-radius: 8px;
    cursor: pointer;
}

#question-title {
    margin-bottom: 80px;
}

ol {
    font-size: 1.5rem;
    line-height: 3rem;
}

.wrapper {
    text-align: center;
    background-color: var(--blue);
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 800px;
    height: 600px;
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    box-shadow: 8px 8px var(--grey);
}

.choice {
    font-size: 1.3rem;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--grey);
    color: var(--white);
    width: 250px;
    height: 50px;
    margin: 20px auto auto 50px;
    border-style: solid;
    border-radius: 8px;
    cursor: pointer;
}

.scores {
    display: flex;
    position: relative;
}

.feedback {
    color: var(--dark-green);
    font-size: 2.3rem;
    font-style: italic;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.timer {
    font-size: 1.5rem;
    position: relative;
    float: right;
    padding-right: 50px;
}

.hide {
    display: none;
}

#start:hover, .choice:hover {
    background-color: var(--brown);
}